In [116]:
from sklearn.datasets import load_boston

In [117]:
boston = load_boston()

In [118]:
import pandas as pd

In [119]:
df=pd.DataFrame(boston.data)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
0     506 non-null float64
1     506 non-null float64
2     506 non-null float64
3     506 non-null float64
4     506 non-null float64
5     506 non-null float64
6     506 non-null float64
7     506 non-null float64
8     506 non-null float64
9     506 non-null float64
10    506 non-null float64
11    506 non-null float64
12    506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [121]:
df.columns=boston.feature_names

In [122]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [123]:
df['Price']=boston.target

In [124]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [125]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
Price      0
dtype: int64

In [179]:
import matplotlib.pyplot as plt
%matplotlib inline

In [180]:
from sklearn.model_selection import train_test_split

In [181]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'Price'],
      dtype='object')

In [182]:
# X=df[['CRIM','ZN','INDUS','NOX','RM','AGE','RAD','TAX','PTRATIO','B','LSTAT']]
# y=df['Price']

In [183]:
X_train,X_test,y_train,y_test=train_test_split(df.drop("Price",axis=1),df["Price"].values,test_size=0.33,shuffle=True,random_state=5)

In [184]:
X_train.shape

(339, 13)

In [185]:
from sklearn.preprocessing import StandardScaler

In [186]:
sc_x=StandardScaler()

In [187]:
X_train = sc_x.fit_transform(X_train)

In [188]:
X_test=sc_x.transform(X_test)

In [189]:
sc_y=StandardScaler()

In [190]:
# y_train=sc_y.fit_transform(y_train)

In [191]:
from sklearn.linear_model import LinearRegression

In [192]:
lin_reg=LinearRegression()

In [193]:
lin_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [194]:
y_pred=lin_reg.predict(X_test)

In [196]:
pd.DataFrame(data=list(zip(y_test,y_pred)),columns=['y','y_hat'])

        y      y_hat
0    37.6  37.467236
1    27.9  31.391547
2    22.6  27.120196
3    13.8   6.468433
4    35.2  33.629667
5    10.4   5.670680
6    23.9  27.039467
7    29.0  29.927047
8    22.8  26.356613
9    23.2  22.452460
10   33.2  32.205044
11   19.0  21.786417
12   20.3  23.411384
13   36.1  33.608944
14   24.4  28.286195
15   17.2  15.138591
16   17.9   0.300873
17   19.6  18.718504
18   19.7  14.470671
19   15.0  11.108236
20    8.1   2.694942
21   23.0  19.216937
22   44.8  38.411593
23   23.1  24.369364
24   32.2  31.614934
25   10.8  11.422104
26   23.1  24.928622
27   21.2  23.311780
28   22.2  22.776408
29   24.1  20.650812
..    ...        ...
137  10.5   5.626367
138  22.2  24.000463
139  30.5  30.371189
140  19.4  23.011267
141  15.6  18.291045
142  20.2  16.194709
143  19.3  21.608467
144  34.6  34.716659
145  50.0  23.405061
146  24.0  30.137479
147  18.7  18.095173
148  19.8  22.168443
149  22.5  29.092256
150  13.3  13.361467
151  50.0  31.860890
152  11.8  13.164368
153  11.0  13.917615
154  23.7  26.523144
155  35.4  31.394812
156  15.2  10.629138
157  24.4  24.686992
158  33.4  28.956509
159  31.6  32.317583
160  13.4  15.871136
161  34.9  29.943357
162  14.4   9.718369
163  35.4  34.705200
164  25.3  25.704102
165  18.3  20.154309
166  16.6  15.394658

[167 rows x 2 columns]

In [40]:
y_train.shape

(339,)

In [50]:
import numpy as np

In [51]:
import statsmodels.formula.api as sm

In [52]:
X=df.drop(['Price'],axis=1)

In [56]:
X.shape

(506, 13)

In [58]:
x = np.append(arr=np.ones((506,1)).astype(int),values = X,axis=1)
x.shape

(506, 14)

In [71]:
x_opt=x[:,[0,1,2,4,5,6,8,9,10,11,12,13]]

In [72]:
regressor_OLS=sm.OLS(endog=df["Price"],exog=x_opt).fit()

In [73]:
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.741
Model:                            OLS   Adj. R-squared:                  0.735
Method:                 Least Squares   F-statistic:                     128.2
Date:                Sat, 29 Sep 2018   Prob (F-statistic):          5.74e-137
Time:                        11:36:14   Log-Likelihood:                -1498.9
No. Observations:                 506   AIC:                             3022.
Df Residuals:                     494   BIC:                             3073.
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         36.3694      5.069      7.176      0.000      26.411      46.328
x1            -0.1076      0.033     -3.296      0.001      -0.172      -0.043
x2             0.0458      0.014      3.387      0.001       0.019       0.072
x3             2.7212      0.854      3.185      0.002       1.043       4.400
x4           -17.3956      3.536     -4.920      0.000     -24.343     -10.448
x5             3.7966      0.406      9.343      0.000       2.998       4.595
x6            -1.4934      0.186     -8.039      0.000      -1.858      -1.128
x7             0.2991      0.063      4.719      0.000       0.175       0.424
x8            -0.0118      0.003     -3.488      0.001      -0.018      -0.005
x9            -0.9471      0.129     -7.337      0.000      -1.201      -0.693
x10            0.0094      0.003      3.508      0.000       0.004       0.015
x11           -0.5232      0.047    -11.037      0.000      -0.616      -0.430
==============================================================================
Omnibus:                      178.444   Durbin-Watson:                   1.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              786.944
Skew:                           1.524   Prob(JB):                    1.31e-171
Kurtosis:                       8.295   Cond. No.                     1.47e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.47e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [197]:
from sklearn.tree import DecisionTreeRegressor

In [198]:
dec_reg = DecisionTreeRegressor(random_state=0)

In [201]:
dec_reg.fit(X_test,y_test)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [202]:
y_pred_tree=lin_reg.predict(X_test)

In [203]:
pd.DataFrame(data=list(zip(y_test,y_pred_tree)),columns=['y','y_hat'])

        y      y_hat
0    37.6  37.467236
1    27.9  31.391547
2    22.6  27.120196
3    13.8   6.468433
4    35.2  33.629667
5    10.4   5.670680
6    23.9  27.039467
7    29.0  29.927047
8    22.8  26.356613
9    23.2  22.452460
10   33.2  32.205044
11   19.0  21.786417
12   20.3  23.411384
13   36.1  33.608944
14   24.4  28.286195
15   17.2  15.138591
16   17.9   0.300873
17   19.6  18.718504
18   19.7  14.470671
19   15.0  11.108236
20    8.1   2.694942
21   23.0  19.216937
22   44.8  38.411593
23   23.1  24.369364
24   32.2  31.614934
25   10.8  11.422104
26   23.1  24.928622
27   21.2  23.311780
28   22.2  22.776408
29   24.1  20.650812
..    ...        ...
137  10.5   5.626367
138  22.2  24.000463
139  30.5  30.371189
140  19.4  23.011267
141  15.6  18.291045
142  20.2  16.194709
143  19.3  21.608467
144  34.6  34.716659
145  50.0  23.405061
146  24.0  30.137479
147  18.7  18.095173
148  19.8  22.168443
149  22.5  29.092256
150  13.3  13.361467
151  50.0  31.860890
152  11.8  13.164368
153  11.0  13.917615
154  23.7  26.523144
155  35.4  31.394812
156  15.2  10.629138
157  24.4  24.686992
158  33.4  28.956509
159  31.6  32.317583
160  13.4  15.871136
161  34.9  29.943357
162  14.4   9.718369
163  35.4  34.705200
164  25.3  25.704102
165  18.3  20.154309
166  16.6  15.394658

[167 rows x 2 columns]

In [204]:
from sklearn.ensemble import RandomForestRegressor

In [205]:
rf_reg = RandomForestRegressor(n_estimators=10,random_state=0)

In [206]:
rf_reg.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)