In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("/Users/vins/Desktop/Datasets/Data_Preprocessing/Data.csv")

In [5]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
x=df['Age']

In [ ]:
y=df["Salary"]

In [ ]:
plt.scatter(x,y)

# Imputer is the function used for missing value

In [ ]:
from sklearn.preprocessing import Imputer

# Press shift+tab For see parameters

In [ ]:
imputer = Imputer(missing_values='NaN',strategy='mean')

In [ ]:
df[['Age','Salary']]

# to see which column is null

In [ ]:
df.isnull().sum()

In [ ]:
df.iloc[:,:]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df.columns

In [ ]:
imputer.fit_transform(df.iloc[:,1:3])

In [ ]:
df.iloc[:,1:3]=imputer.fit_transform(df.iloc[:,1:3])

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
plt.scatter(df['Age'],df['Salary'])

In [ ]:
df["Country"].value_counts()

In [ ]:
df["Country"].unique()

# convert country into multiclass dummy variable

In [ ]:
df=pd.get_dummies(df,columns=['Country'])

In [ ]:
df

In [ ]:
from sklearn.preprocessing import LabelEncoder

# convert boolean value to numeric value

In [ ]:
le=LabelEncoder()

In [ ]:
df["Purchased"]=le.fit_transform(df["Purchased"])

In [ ]:
df

In [ ]:
from sklearn.model_selection import train_test_split

# Converting data in to train and test sets

In [ ]:
X_train,x_test,Y_train,y_test=train_test_split(df.drop("Purchased",axis=1),df["Purchased"],test_size=0.3,shuffle=True,random_state=0)

In [ ]:
X_train

In [ ]:
Y_train

In [ ]:
y_test

In [ ]:
x_test

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc_x=StandardScaler()

In [ ]:
X_train = sc_x.fit_transform(X_train)

In [ ]:
x_test=sc_x.transform(x_test)

In [ ]:
sc_y=StandardScaler()

In [ ]:
Y_train=sc_y.fit_transform(pd.DataFrame(Y_train))

In [ ]:
Y_train

In [ ]:
y_test

In [ ]:
x_test

In [ ]:
X_train

In [ ]:
df